@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800&display=swap");
* {
  font-family: "Open Sans", sans-serif;
}

body {
  background: #121111;
}

.parent {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.firstChild {
  display: flex;
  flex-direction: column;
  padding: 100px;
}

.firstChild h2 {
  color: #fff;
  margin: 0;
  font-size: 48px;
  font-weight: 800;
}

.firstChild p {
  color: #fff;
  font-size: 19px;
  font-weight: 800;
}

.firstChild a {
  background: #f0db4f;
  color: #222;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 15px;
  font-weight: 700;
  letter-spacing: 2px;
}

.secondChild {
  display: flex;
  padding: 100px;
}

.secondChild img {
  max-width: 200px;
  max-height: 200px;
}

.more {
  position: absolute;
  bottom: 30px;
  left: 30px;
  display: flex;
}

.div-frameworks {
  padding: 50px;
}

.frameworks {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.frameworks li {
  list-style: none;
}

.frameworks li a {
  text-decoration: none;
  color: #999;
  margin-right: 30px;
  font-size: 0.9em;
}

.frameworks li a:hover {
  color: #fff;
}
