@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800&display=swap");
* {
  font-family: "Open Sans", sans-serif;
  color: #fff;
}

body {
  background: #121111;
}

code {
  font-family: Consolas, "courier new";
}

.parent-variables {
  display: flex;
  flex-direction: column;
  padding: 10px 50px 0px 50px;
}

.ej-variables {
  display: flex;
  flex-direction: column;
}

.ej-variables pre {
  align-self: center;
}
